.header{
    text-align : center;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

body{
    background-image: url(bg.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
}

*{
    color : white;
}